
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Education</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Education</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <span data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Add New Education">Insert</button>
                </span>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Id" name="Id" hidden>
                                        </div>
                                        <div class="form-group">
                                            <label for="Education">Education Name:</label>
                                            <input type="text" class="form-control" id="Degree" placeholder="Select Your Degree" name="uName">
                                        </div>
                                        <div class="form-group">
                                            <label for="Education">GPA</label>
                                            <input type="text" class="form-control" id="GPA" placeholder="Insert Your GPA" name="uName">
                                        </div>
                                        <div class="form-group">
                                            <label for="uName">University Name</label>
                                            <select id="University" name="uName" class="form-control">
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="Save" onclick="Save();">Insert</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="Update();">Update</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    @*<div class="card-header">
                            <h3 class="card-title">DataTable with default features</h3>
                        </div>*@
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbEducation" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Degree</th>
                                    <th>GPA</th>
                                    <th>University</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Scripts{
    <script src="~/js/EducationJS.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
}