
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
</body>
</html>
<script>
    $.ajax({
        url: "https://localhost:44345/api/universities",
        success: function (result) {
            console.log(result);
        }
    })
</script>
